.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.slides {
    display: flex;
    padding: 0 85px;
    transition: transform 0.3s ease-in-out;
}

.slide {
    width: 100%;
    flex: 0 0 100%;
    height: 100%;
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uc-carousel-prev,
.uc-carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    color: #333;
    border: none;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

.uc-carousel-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.uc-carousel-next {
    transform: rotate(-45deg);
  }
  
.uc-carousel-prev {
    transform: rotate(135deg);
}

.uc-carousel-prev:hover,
.uc-carousel-next:hover {
    background-color: #bbb;
}

.uc-carousel-prev {
    left: 0;
}

.uc-carousel-next {
    right: 0;
}